{% block body %}
<h1>
    Orders
</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">OrderNo</th>
      <th scope="col">Customer</th>
      <th scope="col">Employee</th>
      <th scope="col">Order Date</th>
      <th scope="col">Ship via</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.orderid }}</td>
            <td>{{ order.customerid }}</td>
            <td>{{ order.employeeid }}</td>
            <td>{{ order.orderdate }}</td>
            <td>{{ order.shipvia }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
