{% extends "base.html" %}
{% block body %}
<h1>Details of OrderNo: {{ orders.orderid }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Customer</th>
      <th scope="col">Employee</th>
      <th scope="col">Order Date</th>
      <th scope="col">Ship via</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <td>{{ orders.customer.companyname }}</td>
            <td>{{ orders.employee.firstname }} {{ orders.employee.lastname }}</td>
            <td>{{ orders.orderdate }}</td>
            <td>{{ orders.shipvia }}</td>
	    </tr>
  </body>
</table>

<h2>Ordered Products:</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Cost</th>
      <th scope="col">Discount</th>
      <th scope="col">Total Cost</th>
    </tr>
  </thead>
  <tbody>
    {% for item in orders.orderdetails_set.all %}
    <tr>
	    {% load orders_extras %}
            <td>{{ item.product.productname }}</td>
	    <td>{{ item.quantity }} </td>
            <td>{{ item.unitprice }} RUB</td>
	    <td>{% multiply2 item.discount 100 %} %</td>
	    <td>{% substract 1 item.discount as discountFactor %} 
                {% multiply3 item.quantity item.unitprice discountFactor %} RUB</td> 
	    </tr>
    {% endfor %}
	    <tr>
		    <td>Freight cost</td>
		    {% include "orders/orderRawColumns.html" %}
		    <td>{{ orders.freight }} RUB</td>
	    </tr>
	    <tr>
		    <td><b>TOTAL<b></td>
		    {% include "orders/orderRawColumns.html" %}
		    <td><b>{{ view.totalPrice|floatformat:2 }}</b> RUB</td>
	    </tr>
  </body>
</table>

{% endblock %}
